/* Estilo geral do corpo */
body {
    background-color: #01050e; /* Fundo preto */
    color: #FFFFFF; /* Texto branco */
    font-family: Arial, sans-serif; /* Fonte padrão */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Espaçamento interno */
}

/* Camada overlay ajustada */
body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade aqui */
    z-index: 1; /* Para ficar por trás do texto */
    display: none;
}

.logo {
    display: flex; /* Usar flexbox para alinhar a logo e o título */
    align-items: center; /* Alinhar verticalmente */
}

#logo {
    width: 110px; /* Ajuste para o tamanho desejado */
    height: auto; /* Manter proporção da imagem */
    margin-right: 15px; /* Espaço entre a logo e o título */
}


/* Estilo para a seção de entrada */
#entrada {
    background-image: url(''); /* Imagem de fundo */
    background-size: cover; /* Cobre toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
    padding: 50px; /* Espaçamento interno */
    color: #fffafa; /* Cor do texto */
    min-height: 200px;
    position: relative; /* Necessário para a camada overlay */
}

/* Estilo para as seções adicionais */
#welcome-left, #welcome-right, #quem-sou .left, #quem-sou .right {
    display: inline-block; /* Para posicionar lado a lado */
    vertical-align: top; /* Alinhamento vertical */
    width: 45%; /* Largura das colunas */
    margin: 2.5%; /* Margem entre as colunas */
}

#welcome-left h2, #quem-sou .left h2 {
    color: #07868f; /* Cor dos títulos */
}

/* Estilo do cabeçalho */
header {
    background-color: rgba(2, 33, 39, 0.8); /* Azul com transparência */
    color: #f7f2f2cc; /* Branco para o texto do cabeçalho */
    padding: 20px; /* Espaçamento interno do cabeçalho */
    text-align: center; /* Centraliza o conteúdo do cabeçalho */
}

/* Estilo da lista de navegação */
nav ul {
    list-style-type: none; /* Remove marcadores da lista */
    padding: 0; /* Remove padding da lista */
}

/* Estilo dos itens da navegação */
nav ul li {
    display: inline; /* Exibe os itens na horizontal */
    margin: 0 15px; /* Margem entre os itens */
}

/* Estilo dos links da navegação */
nav a {
    color: #FFFFFF; /* Branco para os links do cabeçalho */
    text-decoration: none; /* Remove underline dos links */
    transition: color 0.3s ease; /* Transição suave para hover */
}

/* Estilo do hover dos links da navegação */
nav a:hover {
    text-decoration: underline; /* Sublinha ao passar o mouse */
}

/* Estilo da área principal */
main {
    padding: 20px; /* Espaçamento interno do main */
}

/* Estilo do container "Sobre" */
.sobre-container {
    background-color: rgba(13, 15, 16, 0.9); /* Fundo com transparência */
    margin: 20px auto; /* Margem para afastar do topo */
    max-width: 800px; /* Largura máxima */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
}

/* Estilo dos títulos na seção "Sobre" */
.sobre-container h2 {
    margin-top: 20px; /* Espaçamento entre os títulos */
    color: #e0e1eb; /* Azul para os títulos */
}

/* Estilo dos parágrafos na seção "Sobre" */
.sobre-container p {
    margin: 10px 0; /* Espaçamento entre os parágrafos */
}
/* Estilo para Missão, Visão e Valores */
.mv-container {
    display: flex; /* Usa Flexbox para disposição em linha */
    justify-content: space-around; /* Espaçamento igual entre os itens */
    margin: 40px auto; /* Aumenta a margem vertical */
    max-width: 800px; /* Limita a largura máxima do container */
}

/* Estilo de cada item na seção de Missão, Visão e Valores */
.mv-item {
    background-color: rgba(23, 92, 148, 0.3); /* Aumenta a opacidade para um fundo mais claro */
    border: 2px solid rgba(23, 92, 148, 0.747); /* Borda */
    border-radius: 19px; /* Bordas arredondadas */
    padding: 50px; /* Aumenta o espaçamento interno */
    width: 50%; /* Largura de cada item */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra mais suave */
    text-align: center; /* Centraliza o texto dentro de cada item */
    margin: 10px; /* Adiciona margem entre os itens */
}


/* Estilo dos títulos dos itens de Missão, Visão e Valores */
.mv-item h3 {
    color: #07868f; /* para os títulos */
    margin-bottom: 15px; /* Aumenta o espaçamento abaixo do título */
}

/* Estilo das listas dentro dos itens de Missão, Visão e Valores */
.mv-item ul {
    list-style-type: disc; /* Estilo da lista */
    padding-left: 20px; /* Espaçamento à esquerda para a lista */
}


/* Estilo dos botões */
button {
    background-color: #0aa88d; /* botões */
    color: #FFFFFF; /* Branco para texto do botão */
    border: none; /* Sem borda */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de ponteiro */
    transition: background-color 0.3s ease; /* Transição suave para hover */
}

/* Estilo do hover dos botões */
button:hover {
    background-color: #007C92; /* Azul ao passar o mouse */
}

/* Estilo do rodapé */
footer {
    background-color: rgba(13, 31, 34, 0.8); /* Azul com transparência para o rodapé */
    color: #FFFFFF; /* Branco para o texto do rodapé */
    text-align: center; /* Centraliza o texto do rodapé */
    padding: 10px; /* Espaçamento interno do rodapé */
    position: relative; /* Para evitar sobreposições */
}

/* Estilo para a seção de cursos */
.cursos-container {
    display: flex; /* Usa Flexbox para disposição em linha */
    flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte se necessário */
    justify-content: space-around; /* Espaçamento igual entre os itens */
    margin: 20px auto; /* Margem superior e inferior para espaçamento */
    max-width: 1200px; /* Limita a largura máxima do container */
}

/* Estilo dos cursos individuais */
.curso {
    background-color: rgba(8, 8, 8, 0.7); /* Fundo escuro com transparência */
    border: 1px solid #080a0e; /* Borda */
    border-radius: 10px; /* Arredondar os cantos */
    padding: 16px; /* Espaçamento interno */
    margin: 10px; /* Margem entre os cursos */
    width: calc(45%); /* Ajusta a largura para 45% para permitir 2 na mesma linha */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra opcional */
    text-align: center; /* Centraliza o texto */
    background-size: cover;
    background-position: center;
    color: #0ea58c;
}

#fale-conosco {
    background-color: rgba(13, 15, 16, 0.9); /* Fundo com transparência */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
}

.contato-container {
    display: flex; /* Usa Flexbox para disposição em linha */
    justify-content: space-around; /* Espaçamento igual entre os itens */
    margin-top: 20px; /* Margem acima do container */
    flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte se necessário */
}

.contato-item {
    background-color: rgba(16, 114, 101, 0.8); /* Fundo mais claro para cada item */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    width: 30%; /* Largura de cada item */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra opcional */
    margin: 10px; /* Margem entre os itens */
    text-align: left; /* Alinha o texto à esquerda dentro de cada item */
}

.redes-sociais {
    margin-top: 30px; /* Espaçamento acima das redes sociais */
}

.redes-sociais h3 {
    color: #e0e1eb; /* Cor do título das redes sociais */
}

.redes-sociais ul {
    list-style-type: none; /* Remove marcadores da lista */
    padding: 0; /* Remove padding da lista */
}

.redes-sociais ul li {
    display: inline; /* Exibe os itens na horizontal */
    margin: 0 10px; /* Margem entre os itens */
}

.redes-sociais a {
    color: #07868f; /* Cor dos links */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s; /* Transição suave para hover */
}

.redes-sociais a:hover {
    color: #0aa88d; /* Cor ao passar o mouse */
}

/* Responsividade */
@media (max-width: 768px) {
    .contato-item {
        width: 100%; /* Cada item ocupa 100% da largura em telas menores */
    }
}



/* Responsividade */
@media (max-width: 768px) {
    .curso, #welcome-left, #welcome-right, #quem-sou .left, #quem-sou .right {
        width: 100%; /* Cada curso ocupa 100% da largura em telas menores */
    }
}

/* Exemplo de curso com imagem específica */
.curso-violao {
    background-image: url('https://images.pexels.com/photos/2118045/pexels-photo-2118045.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.curso-teoria {
    background-image: url('https://images.pexels.com/photos/7521300/pexels-photo-7521300.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.curso-violino {
    background-image: url('https://images.pexels.com/photos/7095506/pexels-photo-7095506.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.curso-piano {
    background-image: url('https://images.pexels.com/photos/10251747/pexels-photo-10251747.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
